<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- base href="https://eltoroit.herokuapp.com/" target="_blank" -->
		<title>Comments for <%= reqHTTP.query.title %></title>
	</head>
	<body>
		Comments for <%= reqHTTP.query.title %>
	</body>
</html>