<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- base href="https://eltoroit.herokuapp.com/" target="_blank" -->
		<meta charset="UTF-8">
		<title>Loading ElToro.IT (Lightning Components)</title>
		<link href="/resource/SLDS/assets/styles/salesforce-lightning-design-system-ltng.min.css" type="text/css" rel="stylesheet">
		<style>
			body {
				background-color: #E8DFB0 !important;
				margin: 0px;
			}
			.herokuMiddle {
				height: 185px;
				width: 400px;
				background: black;
				color: white;

				position: fixed;
				top: 50%;
				left: 50%;
				/* margin-top: -100px; */
				margin-left: -200px;
				z-index: 99999;
			}
			.herokuMiddleText {
				background: #000;
				font-style: oblique;
				color: #FFF;
				text-align: center;
			}
			.bigText {
				font-size: 48px;			
			}
			.smallText {
				font-size: 1rem;
			}
			.spinner {
				width: 100px;
				height: 100px;
				position: absolute;
				top: 29px;
				left: 23px;
			}
		</style>
	</head>
	<body>
		<div id="herokuMiddle" class="herokuMiddle">
			<div class="herokuMiddleText" >
				<table style="border: 1px white solid; width:400px; height: 185px">
					<tr>
						<td style="width:138px;height:150px">
							<img src="/resource/Blog/ElTorito/138x150.JPG" style="min-width:138px; min-height:150px">
							<img src="/resource/SLDS/assets/images/spinners/slds_spinner.gif" class="spinner"/>
						</td>
						<td class="bigText">Please<br/>wait...</td>
					</tr>
					<tr>
						<td class="smallText" colspan="2" id="statusText">Loading...</td>
					</tr>
				</table>
			</div>
		</div>		
		<div id="BlogDiv"/>
		<script src="<%= sfdcLoginOutput.lightningUrl %>/lightning/lightning.out.js"></script>
		<script>
			function changeStatus(newStatus) {
				document.getElementById("statusText").innerHTML = newStatus;
			}
			function hide() {
				document.getElementById("herokuMiddle").style.display = "none";
			}
			function loadLCOut() {
				changeStatus('Connecting With Salesforce...');
				$Lightning.use("c:BlogOut", function() {
					changeStatus('Creating Blog Component...');
					$Lightning.createComponent("c:BlogCmp", {}, "BlogDiv", function(cmp) {
						hide();
					});
				}, "<%= sfdcLoginOutput.lightningUrl %>", "<%= sfdcLoginOutput.access_token %>");
			}
			changeStatus('Started Loading...');
			loadLCOut();
		</script>
	</body>
</html>
