<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Loading ElToro.IT (Lightning Components)</title>
	</head>
	<body>
		<div id="BlogDiv"/>
		<script src="<%= sfdcLoginOutput.lightningUrl %>/lightning/lightning.out.js"></script>
		<script>
			console.log("Started Loading....", new Date());
			$Lightning.use("c:BlogOut", function() {
					console.log("Using....", new Date());
					$Lightning.createComponent("c:BlogCmp", {}, "BlogDiv", function(cmp) {
						console.log("Created....", new Date());						
					});
				}, "<%= sfdcLoginOutput.lightningUrl %>", "<%= sfdcLoginOutput.access_token %>");
		</script>
	</body>
</html>