<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Loading ElToro.IT (Lightning Components)</title>
		<link href="/resource/SLDS/assets/styles/salesforce-lightning-design-system-ltng.min.css" type="text/css" rel="stylesheet">
		<style>
			body {
				background-color: #E8DFB0 !important;
				margin: 0px;
			}
			.herokuMiddle {
				height: 60px;
				width: 400px;
				background: black;
				color: white;

				position: fixed;
				top: 50%;
				left: 50%;
				/* margin-top: -100px; */
				margin-left: -200px;
				z-index: 99999;
			}
			.herokuMiddleText {
				background: #000;
				font-size: 48px;
				font-style: oblique;
				color: #FFF;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="herokuMiddle" class="herokuMiddle">
			<div class="herokuMiddleText" >
				Please wait...
			</div>
		</div>		
		<div id="BlogDiv"/>
		<script src="<%= sfdcLoginOutput.lightningUrl %>/lightning/lightning.out.js"></script>
		<script>
			console.log("Started Loading....", new Date());
			loadLCOut();
				
			function hide() {
				document.getElementById("herokuMiddle").style.display = "none";
			}
			function loadLCOut() {
				$Lightning.use("c:BlogOut", function() {
					console.log("Using....", new Date());
					$Lightning.createComponent("c:BlogCmp", {}, "BlogDiv", function(cmp) {
						console.log("Created....", new Date());						
						hide();
					});
				}, "<%= sfdcLoginOutput.lightningUrl %>", "<%= sfdcLoginOutput.access_token %>");
			}
		</script>
	</body>
</html>